<div class="w-full h-[30em]  flex flex-col justify-center items-center ">
    <h1 class="text-2xl font-bold m-2 ">Nos Compétences </h1>
    <hr class="w-3/5 m-2">
    <div class="w-full h-[90%] flex items-center justify-center  flex-wrap">
        <div class="w-2/5 h-1/6 flex justify-end flex-col items-end">
            <h1 class="w-[70%] text-start font-bold">HTML CSS</h1>
            <div class="w-[70%] h-2/5 bg-blue-500"></div>
        </div>
        <!--  -->
        <div class="w-2/5 h-1/6 flex justify-end flex-col items-end">
            <h1 class="w-[70%] text-start font-bold">HTML CSS</h1>
            <div class="w-[70%] h-2/5 bg-blue-500"></div>
        </div>
        <!--  -->
        <div class="w-2/5 h-1/6 flex justify-end flex-col items-end">
            <h1 class="w-[70%] text-start font-bold">HTML CSS</h1>
            <div class="w-[70%] h-2/5 bg-blue-500"></div>
        </div>
        <!--  -->
        <div class="w-2/5 h-1/6 flex justify-end flex-col items-end">
            <h1 class="w-[70%] text-start font-bold">HTML CSS</h1>
            <div class="w-[70%] h-2/5 bg-blue-500"></div>
        </div>
        <!--  -->
        <div class="w-2/5 h-1/6 flex justify-end flex-col items-end">
            <h1 class="w-[70%] text-start font-bold">HTML CSS</h1>
            <div class="w-[70%] h-2/5 bg-blue-500"></div>
        </div>
        <!--  -->
        <div class="w-2/5 h-1/6 flex justify-end flex-col items-end">
            <h1 class="w-[70%] text-start font-bold">HTML CSS</h1>
            <div class="w-[70%] h-2/5 bg-blue-500"></div>
        </div>
        <!--  -->
        <div class="w-2/5 h-1/6 flex justify-end flex-col items-end">
            <h1 class="w-[70%] text-start font-bold">HTML CSS</h1>
            <div class="w-[70%] h-2/5 bg-blue-500"></div>
        </div>
        <!--  -->
        <div class="w-2/5 h-1/6 flex justify-end flex-col items-end">
            <h1 class="w-[70%] text-start font-bold">HTML CSS</h1>
            <div class="w-[70%] h-2/5 bg-blue-500"></div>
        </div>
        <!--  -->
        <div class="w-2/5 h-1/6 flex justify-end flex-col items-end">
            <h1 class="w-[70%] text-start font-bold">HTML CSS</h1>
            <div class="w-[70%] h-2/5 bg-blue-500"></div>
        </div>
        <!--  -->
        <div class="w-2/5 h-1/6 flex justify-end flex-col items-end">
            <h1 class="w-[70%] text-start font-bold">HTML CSS</h1>
            <div class="w-[70%] h-2/5 bg-blue-500"></div>
        </div>
        <!--  -->
        
    </div>
</div>

<div class="w-full h-[10em]  flex justify-center items-center bg-gray-300" >

    <div class="w-3/5 h-full  flex justify-center items-start flex-col">
        <h1 class="text-2xl font-bold ">
            Télécharger notre PDF
        </h1>
        <p>Comprendre qui nous sommes renforce la confiance. Rejoignez-nous pour une expérience plus profonde.</p>
    </div>
    <div class="w-1/5 h-full  flex justify-center items-center">
        <button class="bg-blue-950 py-4 px-7 border-1 rounded-3 text-white">Télecharger</button>
    </div>
</div>
