<div class="w-full h-full ">
    <div class="w-full h-1/4  flex justify-evenly items-center">
        <div class="border-2 w-[15%] hover:rotate-45 transition-transform duration-150  h-2/5 mr-5">
            <!-- <span class="material-symbols-outlined">
                groups
            </span> -->
            {{details.icone}}
            <!-- <i class="fa-solid fa-user"></i> -->
             
        </div>
        <h3 class="text-xl font-semibold">{{details.title}}</h3>
    </div>
    <div>
        <p>
            {{details.text}}
        </p>
    </div>
</div>